extends layout

block styles
    link(rel='stylesheet' href='/css/greeting.css')

block content
    .ui.segment
        p(class='app-description') App for storing SVG files. Insert SVG code, save favorites, download locally, and use in your projects.
        a(href='/api/svgs') Follow to the SVG shelter place.
