extends layout

block styles
    link(rel='stylesheet' href='/svg.css')

block content
    .ui.large.breadcrumb
        a.section(href="/api/svgs") Gallery
        i.right.chevron.icon.divider
        .active.section= svg.id

    .ui.divider

    .svg
        .ui.segment
            .content.svg-wrap
                    | !{svg.svg}