extends layout

block styles
    link(rel='stylesheet' href='/css/svg.css')

    block scripts
        script(src='/js/downloadSvg.js')

block content
    .ui.large.breadcrumb
        a.section(href="/api/svgs") Gallery
        i.right.chevron.icon.divider
        .active.section= svg.id

    .ui.divider

    .svg
        p(class='svg-download-wrapper')
            span Download SVG
            button.mini.ui.button.icon.right.floated.downloadSvgButton(data-id=svg.id)
                i.download.icon
        .ui.segment
            .content.svg-wrap
                | !{svg.svg}
